:root {
    --olive-color: #8D8741;
    --blue-color: #659DBD;
    --tan-color: #DAAD86;
    --sand-color: #BC986A;
   --cream-color: #FBEEC1;
    --brown-color: #612d22
}

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;


}


.navbar{
    background-color: var(--olive-color);
    color: var(--blue-color);

}

.hero-container{
    background-color: var(--tan-color);

}

.header{
    font-family: 'Caprasimo', cursive;
    font-size: 5em;

}


.under {
    text-decoration: wavy underline  var(--blue-color);
    text-underline-offset: 5px;
}

.motto {
    color:  var(--brown-color);
}

a.navbar-brand{
    font-family: 'Caprasimo', cursive;
    color:   var(--brown-color)

}
a.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: var(--cream-color);
}


form {
    background-color: var(--blue-color);
    display: flex;
    flex-direction: column;
}


.header-prize{
    display: flex;
    flex-direction: column;
}

.formz{
    padding: 1em;
    margin: 2em;


}

.form-bg{
    color:var(--cream-color);
    background-color:var(--tan-color) ;

}

button{
    background-color:var(--olive-color);
    color:var(--cream-color) ;
    border-color: var(--blue-color);
}

.table-section{
    background-color:var(--tan-color);
    max-width: 100%;
}
.input-bg{
    background-color:var(--cream-color);
}


.h1{
    color: var(--brown-color);
}


.text-body-emphasis {
    --bs-text-opacity: 1;
    color: var(--brown-color)!important;
}
.coffee-bean{
    background-color: var(--olive-color);
    position: relative;
    animation-name: example;
    animation-duration: 5s;
}
@keyframes example {
    0%   {background-color:var(--olive-color); left:0px; top:0px;}
    25%  {background-color:var(--olive-color); left:1400px; top:0px;}
    50%  {background-color:var(--olive-color); left:0px; top:0px;}
    75%  {background-color:var(--olive-color); left:0px; top:0px;}
    100% {background-color:var(--olive-color); left:0px; top:0px;}
}